@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  background-color: #f8f6f3;
}

form {
  font-family: "Satochi", sans-serif;
}
h1, p, a {
  font-family: "Manrope", sans-serif;
}
.shadows {
  box-shadow: 4px 4px 4px 0px #00000040;

  box-shadow: -4px -4px 4px 0px #00000040;

  box-shadow: 0px 0px 4px 0px #00000040;
}

.swiper-button-next {
  background-image: url('./images/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 20;
  right: 60%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url('./images/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  left: 40%;
}

.swiper-button-prev::after {
  display: none;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}